html { 
    width: 100%;
    height: 100%;

}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
}

.text {
    position: absolute;
    color: rgb(251, 255, 0);
}

.forward {
    z-index: 3;
    color: black;
}